name: Test

on:
  workflow_run:
    workflows: ["Lint"]
    types:
      - completed
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test Python Code
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' || (github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main')
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      
      - name: Install dependencies
        run: |
          pip install paho-mqtt pytest
      
      - name: Run tests
        run: |
          cd stations
          pytest test_station1.py -v
